<div class="content">
    <div class="container-fluid">
        {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{/if}}

        <div class="container">
            <div class="row">

                <div class="col-md-2"></div>

                <div class="col-md-3">
                    <div class="form-group text-center">
                        <label class="asset-label" for="assetName">Asset</label>
                        <select type="text" class="form-control" id="assetName" aria-describedby="AssetName" name="asset">
                            <option value="stockA" {{#if active.stockA}}selected{{/if}}>A</option>
                            <option value="stockB" {{#if active.stockB}}selected{{/if}}>B</option>
                            <option value="stockC" {{#if active.stockC}}selected{{/if}}>C</option>
                        </select>
                        <small id="assetHelp" class="form-text text-muted">which stock you want to buy</small>
                    </div>
                </div>

                <div class="col-md-2"></div>

                <div class="col-md-3">
                    <div class="form-group text-center">
                        <label class="assetPosition-label" for="assetPosition">Position</label>
                        <p id="assetPosition"><b>{{{positionOnAsset}}}</b></p>
                        <small id="assetPositionHelp" class="form-text text-muted">Your current position in this asset</small>
                    </div>
                </div>

                <div class="col-md-2"></div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Open Orders</h4>
                        <p class="card-category">Your Currently Open Orders</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>B/S</th>
                            <th>Amount</th>
                            <th>Price</th>
                            <th></th>
                            </thead>
                            <tbody>
                            {{#each UserOffersBuy}}
                                <tr>
                                    <td>Buy</td>
                                    <td>{{{quantity}}}</td>
                                    <td>{{{price}}}</td>
                                    <td>
                                        <a href="#" style="color:red" class="delete-offer buy-offer" data-id="{{{_id}}}">
                                            <i class="nc-icon nc-simple-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            {{/each}}
                            {{#each UserOffersSell}}
                                <tr>
                                    <td>Sell</td>
                                    <td>{{{price}}}</td>
                                    <td>{{{quantity}}}</td>
                                    <td>
                                        <a href="#" style="color:red" class="delete-offer sell-offer" data-id="{{{_id}}}">
                                            <i class="nc-icon nc-simple-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Buy</h4>
                    </div>
                    <div class="card-body ">
                        <div>
                            <form method="post" action="/market/buy" class="market-form">
                                <div class="form-group">
                                    <label for="buyQuantity">Quantity</label>
                                    <input type="number" class="form-control" min="0" id="buyQuantity" placeholder="0" name="quantity">
                                </div>
                                <div class="form-group">
                                    <label for="buyPrice">Price</label>
                                    <input type="number" step=".01" class="form-control" min="0" id="buyPrice" placeholder="0" name="price">
                                </div>
                                <input type="hidden" name="asset" value={{{assetName}}}>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-dark">Buy</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sell</h4>
                    </div>
                    <div class="card-body ">
                        <div>
                            <form method="post" action="/market/sell">
                                <div class="form-group">
                                    <label for="sellQuantity">Quantity</label>
                                    <input type="number"  class="form-control" min="0" id="sellQuantity" placeholder="0" name="quantity">
                                </div>
                                <div class="form-group">
                                    <label for="sellPrice">Price</label>
                                    <input type="number" step=".01" class="form-control" min="0" id="sellPrice" placeholder="0" name="price">
                                </div>
                                <input type="hidden" name="asset" value={{{assetName}}}>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-dark">Sell</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" id="market-left-div">
                <div class="card strpied-tabled-with-hover" id="market-left-card">
                    <div class="card-header ">
                        <h4 class="card-title text-center">Buy Offers</h4>
                        <p class="card-category text-center">Current buy offers for the selected asset</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover text-center">
                            <thead>
                            <th class="custom-market-table text-center">Quantity</th>
                            <th class="custom-market-table text-center">Price</th>
                            </thead>
                            <tbody id="buy-table">
                            {{#each buyOffers}}
                                <tr>
                                    <td class="custom-market-table">{{{quantity}}}</td>
                                    <td class="custom-market-table">{{{price}}}</td>
                                    <td hidden>{{{_id}}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="market-right-div">
                <div class="card strpied-tabled-with-hover" id="market-right-card">
                    <div class="card-header ">
                        <h4 class="card-title text-center">Sell Offers</h4>
                        <p class="card-category text-center">Current sell offers for the selected asset</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover text-center">
                            <thead>
                            <th class="custom-market-table text-center">Price</th>
                            <th class="custom-market-table text-center">Quantity</th>
                            </thead>
                            <tbody id="sell-table">
                            {{#each sellOffers}}
                                <tr>
                                    <td class="custom-market-table text-center">{{{price}}}</td>
                                    <td class="custom-market-table text-center">{{{quantity}}}</td>
                                    <td hidden>{{{_id}}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>