<!--<div class="content">-->
    <div class="container horizontal-scroll">
        {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{/if}}

        <div class="row text-center flex-nowrap">
            {{#each stockNames}}
                <div class="col-6 col-sm-5 horizontal-scroll-child">
                {{#if finalValue}}
                    <div class="row">

                        <div class="col-md-3"></div>

                        <div class="col-md-3">
                            <div class="form-group text-center">
                                <label class="asset-label" for="assetName">Asset</label>
                                <p>{{{stockName}}}</p>
                            </div>
                        </div>

                        {{#myEndedOffers ../closedBuyOffers ../closedSellOffers finalValue}}
                            <div class="col-md-3">
                                <div class="form-group text-center">
                                    <label class="assetPosition-label" for="asset-position">Earnings</label>
                                    <p class="asset-position"><b>{{{earning}}}</b></p>
                                </div>
                            </div>
                        {{/myEndedOffers}}

                        <div class="col-md-3"></div>

                    </div>
                {{else}}
                    <div class="row">

                        <div class="col-md-3"></div>

                        <div class="col-md-6">
                            <div class="form-group text-center">
                                <label class="asset-label" for="assetName">Asset</label>
                                <p>{{{stockName}}}</p>
                            </div>
                        </div>


                        <div class="col-md-3"></div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">Closed Orders</h4>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th class="center-this">B/S</th>
                                        <th class="center-this">Total Amount</th>
                                        <th class="center-this">AVG Price</th>
                                        </thead>
                                        <tbody>
                                        {{#myClosedOffers ../closedBuyOffers}}
                                            <tr>
                                                <td>Buy</td>
                                                <td class="quantity">{{{retQ}}}</td>
                                                <td>{{{retP}}}</td>
                                            </tr>
                                        {{/myClosedOffers}}
                                        {{#myClosedOffers ../closedSellOffers}}
                                            <tr>
                                                <td>Sell</td>
                                                <td class="quantity">{{{retQ}}}</td>
                                                <td>{{{retP}}}</td>
                                            </tr>
                                        {{/myClosedOffers}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">Open Orders</h4>
                                    <p class="card-category">Your Currently Open Orders</p>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th class="center-this">B/S</th>
                                        <th class="center-this">Amount</th>
                                        <th class="center-this">Price</th>
                                        <th class="center-this"></th>
                                        </thead>
                                        <tbody>
                                        {{#myOffers ../UserOffersBuy}}
                                            <tr>
                                                <td>Buy</td>
                                                <td class="quantity">{{{quantity}}}</td>
                                                <td>{{{price}}}</td>
                                                <td>
                                                    <a href="#" style="color:red" class="delete-offer buy-offer" data-id="{{{_id}}}">
                                                        <i class="nc-icon nc-simple-remove"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {{/myOffers}}
                                        {{#myOffers ../UserOffersSell}}
                                            <tr>
                                                <td>Sell</td>
                                                <td class="quantity">{{{quantity}}}</td>
                                                <td>{{{price}}}</td>
                                                <td>
                                                    <a href="#" style="color:red" class="delete-offer sell-offer" data-id="{{{_id}}}">
                                                        <i class="nc-icon nc-simple-remove"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {{/myOffers}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-header">
                                    <h4 class="card-title">Buy</h4>
                                </div>
                                <div class="card-body ">
                                    <div>
                                        <form method="post" action="/market/buy" class="market-form">
                                            <div class="form-group">
                                                <label for="buyQuantity">Quantity</label>
                                                <input type="number" class="form-control" min="0" id="buyQuantity" placeholder="0" name="quantity">
                                            </div>
                                            <div class="form-group">
                                                <label for="buyPrice">Price</label>
                                                <input type="number" step=".01" class="form-control" min="0" id="buyPrice" placeholder="0" name="price">
                                            </div>
                                            <input type="hidden" name="asset" value={{{stockName}}}>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-outline-dark">Buy</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-header">
                                    <h4 class="card-title">Sell</h4>
                                </div>
                                <div class="card-body ">
                                    <div>
                                        <form method="post" action="/market/sell">
                                            <div class="form-group">
                                                <label for="sellQuantity">Quantity</label>
                                                <input type="number"  class="form-control" min="0" id="sellQuantity" placeholder="0" name="quantity">
                                            </div>
                                            <div class="form-group">
                                                <label for="sellPrice">Price</label>
                                                <input type="number" step=".01" class="form-control" min="0" id="sellPrice" placeholder="0" name="price">
                                            </div>
                                            <input type="hidden" name="asset" value={{{stockName}}}>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-outline-dark">Sell</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6" id="market-left-div">
                            <div class="card strpied-tabled-with-hover" id="market-left-card">
                                <div class="card-header ">
                                    <h4 class="card-title text-center">Buy Offers</h4>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>
                                        <th class="custom-market-table text-center">Quantity</th>
                                        <th class="custom-market-table text-center">Price</th>
                                        </thead>
                                        <tbody id="buy-table-{{{stockName}}}">
                                        {{#assetOffers ../buyOffers}}
                                            <tr>
                                                <td class="custom-market-table text-center quantity">{{{quantity}}}</td>
                                                <td class="custom-market-table text-center price"><strong>{{{price}}}</strong></td>
                                                <td hidden>{{{_id}}}</td>
                                            </tr>
                                        {{/assetOffers}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="market-right-div">
                            <div class="card strpied-tabled-with-hover" id="market-right-card">
                                <div class="card-header ">
                                    <h4 class="card-title text-center">Sell Offers</h4>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>
                                        <th class="custom-market-table text-center">Price</th>
                                        <th class="custom-market-table text-center">Quantity</th>
                                        </thead>
                                        <tbody id="sell-table-{{{stockName}}}">
                                        {{#assetOffers ../sellOffers}}
                                            <tr>
                                                <td class="custom-market-table text-center price"><strong>{{{price}}}</strong></td>
                                                <td class="custom-market-table text-center quantity">{{{quantity}}}</td>
                                                <td hidden>{{{_id}}}</td>
                                            </tr>
                                        {{/assetOffers}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
<!--</div>-->